*::-moz-selection {
  background: rgba(105, 181, 196, 0.7);
}*::selection {
  background: rgba(105, 181, 196, 0.7);
}

h5::-moz-selection {
  background: rgba(255, 255, 255, 0.9);
}

h5::selection {
  background: rgba(255, 255, 255, 0.9);
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

@-webkit-keyframes pan {
  100% {
    background-position: 10% 100%;
  }
}

@keyframes pan {
  100% {
    background-position: 10% 100%;
  }
}
html {
  scroll-behavior: smooth;
}

body .overlay {
  display: none;
  width: 10%;
  height: 100%;
  gap: 20px;
  background: url("../IMG/photo01.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-animation: pan 20s linear alternate infinite;
          animation: pan 20s linear alternate infinite;
}
body .overlay a {
  text-decoration: none;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 200;
}
body .overlay a:hover {
  -webkit-text-decoration: 0.6px white underline;
          text-decoration: 0.6px white underline;
  text-underline-offset: 2.5px;
}
body .overlay.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../IMG/photo0.jpg") fixed center no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: pan 20s linear alternate infinite;
          animation: pan 20s linear alternate infinite;
}
body header a {
  text-decoration: none;
  color: white;
}
body header a:hover {
  -webkit-text-decoration: 0.5px white underline;
          text-decoration: 0.5px white underline;
  text-underline-offset: 2px;
}
body header .header-top {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
body header .header-top .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.65vw;
}
body header .header-top .header-title .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
body header .header-top .header-title .brand .header-img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 45px;
}
body header .header-top .header-title .brand .header-img-1 img {
  width: 100%;
}
body header .header-top .header-title .brand h1 {
  font-size: 11px;
  letter-spacing: 1.25px;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}
body header .header-top .header-burger {
  display: none;
}
body header .header-top .header-burger .burger-open {
  width: 100%;
  max-width: 30px;
}
body header .header-top .header-burger .burger-open img {
  width: 100%;
  cursor: pointer;
}
body header .header-top .header-burger .burger-close {
  width: 100%;
  max-width: 30px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin-left: -3px;
}
body header .header-top .header-burger .burger-close img {
  width: 100%;
  cursor: pointer;
}
body header .header-top .header-burger .burger-open.open {
  visibility: hidden;
  opacity: 0;
}
body header .header-top .header-burger .burger-close.open {
  visibility: visible;
  opacity: 1;
}
body header .header-top .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 4.5vw;
}
body header .header-top .header-info a {
  font-size: 11px;
  letter-spacing: 1.25px;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}
body header .header-bottom {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}
body header .header-bottom .header-bottom-title {
  font-size: 43px;
  font-weight: 800;
  margin-bottom: -100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
body header .header-bottom .header-img-2 {
  width: 100%;
  max-width: 340px;
}
body header .header-bottom .header-img-2 img {
  width: 100%;
}

.header-bottom.open {
  display: none;
}

main.open {
  display: none;
}

section.open {
  display: none;
}

footer.open {
  display: none;
}

main {
  background: #09080E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: white;
  letter-spacing: 1.25px;
}
main .main-top {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .main-top .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 65%;
  margin: 0 auto;
  margin-top: 8vw;
  z-index: 2;
}
main .main-top .main-title h3 {
  all: unset;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 3.5vw;
}
main .main-top .main-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  margin-top: -7.5vw;
  z-index: 1;
}
main .main-top .main-images .structure-clouds0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .main-top .main-images .structure-clouds0 .long-structure {
  width: 100%;
  max-width: 50vw;
  z-index: 2;
}
main .main-top .main-images .structure-clouds0 .long-structure img {
  width: 100%;
}
main .main-top .main-images .structure-clouds0 .hide-clouds0 {
  background: url("../IMG/photo0.jpg") fixed center no-repeat;
  background-size: cover;
  position: absolute;
  width: 51vw;
  height: 33.8vw;
  z-index: 1;
  -webkit-animation: pan 15s linear alternate infinite;
          animation: pan 15s linear alternate infinite;
}
main .main-top .main-images .structure-clouds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .main-top .main-images .structure-clouds .tall-structure {
  width: 100%;
  max-width: 24.5vw;
  right: 16.25vw;
  top: 14vw;
  z-index: 2;
  margin-top: 18vw;
}
main .main-top .main-images .structure-clouds .tall-structure img {
  width: 100%;
}
main .main-top .main-images .structure-clouds .hide-clouds {
  margin-top: 50px;
  background: url("../IMG/photo0.jpg") fixed center no-repeat;
  background-size: cover;
  position: absolute;
  width: 24.5vw;
  height: 42.1vw;
  z-index: 1;
  -webkit-animation: pan 15s linear alternate infinite;
          animation: pan 15s linear alternate infinite;
}

main .main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 29px;
  margin-top: 250px;
}
main .main-bottom .bottom-paragraph {
  margin-top: -5vw;
  font-family: "Montserrat", sans-serif;
}
main .main-bottom .bottom-paragraph p {
  font-size: 20px;
  margin-left: 4vw;
  line-height: 25px;
}
main .main-bottom .text-button {
  width: 30%;
  margin-right: 13.5vw;
}
main .main-bottom .text-button p {
  font-size: 12px;
  color: #83818A;
  line-height: 15px;
}
main .main-bottom .text-button a {
  text-decoration: none;
  font-size: 12px;
}
main .main-bottom .text-button a button {
  all: unset;
  background: #1372D9;
  color: white;
  padding: 7.5px 12.5px;
}

section {
  margin-top: -22px;
  background: #09080E;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
section .line {
  border-top: 0.1px solid rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  width: 82%;
  margin-top: 8.5vw;
}
section .section-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  width: 82%;
  margin-top: 3.5vw;
}
section .section-top .times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
section .section-top .times h4, section .section-top .times h5, section .section-top .times p {
  all: unset;
  width: 100%;
}
section .section-top .times h4 {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.8);
}
section .section-top .times h5 {
  color: #3778C0;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 15px;
}

section {
  font-family: "Space Grotesk", sans-serif;
}
section .section-bottom {
  height: 400px;
  margin-top: 125px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .section-bottom .what-do-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: 9vw;
}
section .section-bottom .what-do-we-do .tall-line {
  position: absolute;
  height: 175px;
  width: 1px;
  -webkit-transition: 2s;
  transition: 2s;
  background: white;
}
section .section-bottom .what-do-we-do .what-do-we-do-text {
  margin-left: 15px;
}
section .section-bottom .what-do-we-do .what-do-we-do-text h6 {
  all: unset;
  font-weight: 900;
}
section .section-bottom .building-clouds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
section .section-bottom .building-clouds .right-img {
  width: 100%;
  max-width: 450px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
section .section-bottom .building-clouds .right-img img {
  width: 100%;
}
section .section-bottom .building-clouds .right-cloud {
  width: 450px;
  height: 450px;
  background: url("../IMG/photo0.jpg") fixed center no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-animation: pan 15s linear alternate infinite;
          animation: pan 15s linear alternate infinite;
}

section .section-change-color {
  background: #16161E;
  margin-top: -8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .section-change-color .text-change-color {
  margin-top: 15vw;
  width: 95%;
}
section .section-change-color .text-change-color p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.8vw;
  text-align: center;
}
section .section-change-color .text-change-color h6 {
  font-size: 20px;
  text-align: center;
}
section .section-change-color .button-change {
  margin-bottom: 150px;
}
section .section-change-color .button-change a {
  text-decoration: none;
  font-size: 14px;
}
section .section-change-color .button-change a button {
  all: unset;
  background: #1372D9;
  color: white;
  padding: 12.5px 17.5px;
}

section .second-color-change {
  background: #09080E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .second-color-change .absolute-img-section {
  width: 100%;
  max-width: 600px;
  position: absolute;
  margin-top: -30vw;
  margin-left: 200px;
}
section .second-color-change .absolute-img-section img {
  width: 100%;
}
section .second-color-change .second-color-text {
  margin-top: 25vw;
  width: 90%;
}
section .second-color-change .second-color-text h6 {
  font-size: 25px;
  font-weight: 900;
  width: 100%;
  line-height: 25px;
}
section .second-color-change .second-color-text p {
  font-size: 15px;
  line-height: 15px;
}

section .row-in-second {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vw;
}
section .row-in-second .txt-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
section .row-in-second .txt-img-row .row-sc-img {
  width: 100%;
  max-width: 340px;
  margin-bottom: 2vw;
}
section .row-in-second .txt-img-row .row-sc-img img {
  width: 100%;
}

@media (max-width: 1105px) {
  main .main-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    margin-top: 18vw;
  }
  main .main-bottom .bottom-paragraph {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .main-bottom .bottom-paragraph p {
    font-size: 17px;
    line-height: 25px;
  }
  main .main-bottom .bottom-paragraph p br {
    display: none;
  }
  main .main-bottom .text-button {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .main-bottom .text-button p {
    font-size: 15px;
    color: #83818A;
    line-height: 15px;
  }
  main .main-bottom .text-button p br {
    display: none;
  }
}
@media (max-width: 880px) {
  section .second-color-change .second-color-text {
    margin-top: 29vw;
    width: 90%;
  }
}
@media (max-width: 820px) {
  section .section-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 auto;
    width: 95%;
    margin-top: 3.5vw;
  }
  section .section-top .times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0 auto;
  }
  section .section-top .times h5 {
    font-size: 60px;
  }
}
@media (max-width: 806px) {
  section .second-color-change .absolute-img-section {
    width: 100%;
    max-width: 75vw;
    position: absolute;
    margin-top: -30vw;
    margin-left: 16vw;
  }
  section .second-color-change .absolute-img-section img {
    width: 100%;
  }
  section .second-color-change .second-color-text {
    margin-top: 40vw;
    width: 80%;
  }
  section .second-color-change .second-color-text h6 {
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    line-height: 25px;
  }
  section .second-color-change .second-color-text p {
    font-size: 15px;
    line-height: 15px;
  }
}
@media (max-width: 785px) {
  section .row-in-second .txt-img-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  section .row-in-second .txt-img-row .row-sc-img {
    width: 100%;
    max-width: 340px;
    margin: 0px 5px;
  }
  section .row-in-second .txt-img-row .row-sc-img img {
    width: 100%;
  }
}
@media (max-width: 782px) {
  section .row-in-second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 762px) {
  body header .header-top {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    gap: 10px;
  }
  body header .header-top .header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
  }
  body header .header-bottom .header-bottom-title {
    font-size: 38px;
    margin-bottom: -90px;
  }
  body header .header-bottom .header-img-2 {
    width: 100%;
    max-width: 302px;
  }
  body header .header-bottom .header-img-2 img {
    width: 100%;
  }
}
@media (max-width: 730px) {
  section .section-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0 auto;
    width: 95%;
    margin-top: 3.5vw;
  }
  section .section-top .times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0 auto;
  }
  section .section-top .times h5 {
    font-size: 50px;
  }
}
@media (max-width: 666px) {
  section .section-bottom .what-do-we-do .tall-line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: -280px;
    margin-left: 80px;
    height: 175px;
    width: 1px;
    background: white;
    -webkit-transition: 2s;
    transition: 2s;
  }
  section .section-bottom .what-do-we-do .what-do-we-do-text {
    margin-top: -280px;
  }
  section .section-bottom .building-clouds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  section .section-bottom .building-clouds .right-img {
    width: 100%;
    max-width: 67.6vw;
  }
  section .section-bottom .building-clouds .right-cloud {
    width: 67.6vw;
    height: 67.6vw;
  }
}
@media (max-width: 620px) {
  section .section-change-color .text-change-color p {
    font-size: 20px;
  }
  section .section-change-color .text-change-color p br {
    display: none;
  }
  section .section-change-color .text-change-color h6 {
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 587px) {
  body header .header-top .header-title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header-top .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .header-top .header-info {
    display: none;
  }
  body header .header-bottom .header-bottom-title {
    font-size: 30px;
    margin-bottom: -70px;
  }
  body header .header-bottom .header-img-2 {
    width: 100%;
    max-width: 302px;
  }
  body header .header-bottom .header-img-2 img {
    width: 100%;
  }
}
@media (max-width: 580px) {
  main .main-top .main-images .structure-clouds .tall-structure {
    top: 14vw;
    margin-top: 22vw;
  }
  main .main-top .main-images .structure-clouds .hide-clouds {
    margin-top: 50px;
    height: 42.1vw;
  }
}
@media (max-width: 550px) {
  main .main-top .main-images .structure-clouds0 .hide-clouds0 {
    background: url("../IMG/photo2.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    width: 51vw;
    height: 33.8vw;
    z-index: 1;
  }
  main .main-top .main-images .structure-clouds .hide-clouds {
    margin-top: 50px;
    background: url("../IMG/photo31.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    width: 24.5vw;
    height: 42.1vw;
    z-index: 1;
  }
}
@media (max-width: 550px) {
  section .second-color-change .absolute-img-section {
    width: 100%;
    max-width: 75vw;
    position: absolute;
    margin-top: -85vw;
    margin-left: 16vw;
  }
  section .second-color-change .absolute-img-section img {
    width: 100%;
  }
  section .second-color-change .second-color-text {
    width: 80%;
  }
  section .second-color-change .second-color-text h6 {
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    line-height: 25px;
  }
  section .second-color-change .second-color-text p {
    font-size: 15px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  section .section-bottom .building-clouds .right-cloud {
    background: url("../IMG/photo41.jpg") center no-repeat;
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 550px) {
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #6C949D;
    background-size: cover;
    width: 100%;
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 430px) {
  main .main-top .main-images .structure-clouds .tall-structure {
    top: 14vw;
    margin-top: 23vw;
  }
  main .main-top .main-images .structure-clouds .hide-clouds {
    margin-top: 50px;
    height: 42.1vw;
  }
}
@media (max-width: 400px) {
  section .section-bottom .what-do-we-do .tall-line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: -280px;
    margin-left: 80px;
    height: 175px;
    width: 1px;
    background: white;
    -webkit-transition: 2s;
    transition: 2s;
  }
  section .section-bottom .what-do-we-do .what-do-we-do-text {
    margin-top: -280px;
  }
  section .section-bottom .building-clouds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  section .section-bottom .building-clouds .right-img {
    width: 100%;
    max-width: 80vw;
    -webkit-transition: 1s;
    transition: 1s;
  }
  section .section-bottom .building-clouds .right-cloud {
    width: 80vw;
    height: 80vw;
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 376px) {
  main .main-top .main-images .structure-clouds .tall-structure {
    top: 14vw;
    margin-top: 24vw;
  }
  main .main-top .main-images .structure-clouds .hide-clouds {
    margin-top: 50px;
    height: 42.1vw;
  }
}
@media (max-width: 281px) {
  main .main-top .main-images .structure-clouds .tall-structure {
    top: 14vw;
    margin-top: 28.9vw;
  }
  main .main-top .main-images .structure-clouds .hide-clouds {
    margin-top: 50px;
    height: 42.1vw;
  }
}